openapi: '3.0.2'

info:
  title: Mahlzeit-API
  description: Simplified Backend API for the Hallo-Mahlzeit.de web app
  version: '2.0'

servers:
  - url: https://hallo-mahlzeit.de/api/
  - url: http://localhost:7071/api

tags:
  - name: Customer
  - name: Order

paths:
  /customer:
    get:
      tags: 
        - 'Customer'
      operationId: getCustomerList
      responses:
        '200':
          description: Returns list of Customer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
    
  /customer/{id}:
    get:
      tags:
        - 'Customer'
      operationId: getCustomerByID
      parameters:
        - name: id
          in: path
          description: ID of customer
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Returns a customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          description: Customer not found
        '400':
          description: Invalid Customer ID

    put:
      tags:
        - 'Customer'
      operationId: addCustomerByID
      parameters:
        - name: id
          in: path
          description: ID of customer
          required: true
          schema:
            type: integer
            format: int64
        - name: name
          in: header
          description: Order object
          required: true
          schema:
            type: object
            $ref: '#/components/schemas/Customer'
      responses:
        '200':
          description: Adds a customer
        '400':
          description: Invalid Customer ID

  /order:
    get:
      tags:
        - 'Order'
      operationId: getOrderList
      responses:
        '200':
          description: Lists all Orders of a customer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'

  /order/{id}:
    get:
      tags:
        - 'Order'
      operationId: getOrderByID
      parameters:
        - name: id
          in: path
          description: ID of order
          required: true
          schema:
            type: integer
            format: int64
        - name: customerId
          in: header
          description: ID of customer
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Returns a order of a customer
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Order'

    put:
      tags:
        - 'Order'
      operationId: putOrderByID
      parameters:
        - name: id
          in: path
          description: ID of order
          required: true
          schema:
            type: integer
            format: int64
        - name: customerId
          in: query
          description: ID of customer
          required: true
          schema:
            type: integer
            format: int64
        - name: order
          in: header
          description: Order object
          required: true
          schema:
            type: object
            $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: Adds a order to a customer
        '400':
          description: Order ID invalid

components:
  schemas:
    Customer:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 341321
        name:
          type: string
          example: Bob

    Order:
      type: object
      properties:
        customerId:
          type: integer
          format: int64
          example: 341321
        id:
          type: integer
          format: int64
          example: 42
        description: 
          type: string
          example: "Steak with Fries"
